.fave{
  list-style: none;
  text-decoration: none!important;
  background-color: whitesmoke;
  color:black;
  padding:5px;
}


.faveList{
margin:0;
padding:0;
max-height: 270px;
overflow:scroll
}

.homehead{
background-color: whitesmoke
}

.userpic{
  border: 1px solid;
  border-radius: 2px
}

.signup{
display:grid;
max-width: 200px
}
/* 
.login{
background-color: whitesmoke;
margin:0 ;
padding:0;
text-align: center;

} */



.login
  {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color:whitesmoke;
  text-align: center
}



