.enter{
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.test{
  grid-area: 4/2;
  display:grid;
  grid-template-rows: 1fr 1fr
}

.register{
  grid-area: 2;
  text-align: center;
}

.register-button{
border:none;
font-weight:bold;
font-size:100%;
text-transform: uppercase;
  background-color: whitesmoke;
width:100%;
padding:5px;
border-left:solid 1px #222222;
      border-right:solid 1px #222222;
border-bottom: solid 1px #222222

    }


