.page4{
display:flex;
flex-direction: column;
padding: 0px 10px 0px 10px
}

*{
  box-sizing: border-box;
}

.store{
grid-area: 1/2;
display: flex;
flex-direction: column;
}

.article{
  text-align: justify;
  border-bottom: solid 1px #222222;
}

.artinfo{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #222222;
  width:70%;
}

p.title{
font-size: 2.2em;
margin: 5px 5px 5px 0px;
font-weight: bold;
}

p.topic{
font-size: 1em;
margin: 5px 5px 5px 0px;
text-align: left;
text-transform: uppercase;
color:grey;
}

p.author{
font-size: 1.5em;
margin:5px 5px 10px 0px;
font-weight: bold;
font-style: italic;
color: black;
}

p.posted{
  font-size: 1em;
  padding:5px;
  margin:5px;
}


p.body{
  font-size: 1.3em;
  line-height: 160%;
  width:95%;
  text-align: justify;
  text-justify: inter-ideograph;
}

.panel{
  display: flex;
  flex-direction: row;
  justify-content: left;
}


.votes-p{
font-weight: 900;

}


.panel button{
  border:none;
}



.section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



.toggle{
  margin: 0px 0px 5px 0px;
  text-transform:uppercase;
  border:none;
  border-top: #222222 solid 1px;
  font-size: .8em;
padding:5px;
}


.back{
  text-transform: uppercase;
  border:none;
  border-bottom: 1px solid #222222;
  padding:5px;

}

