*{
  box-sizing: border-box;
}

.page5{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
grid-gap: 5px
}


.comment-form-store{
padding:5px 0px 15px 0px;
}


.comment-form  button{
background-color: whitesmoke;
text-transform: uppercase;
font-weight: bold;
padding:5px;
border: solid 1px gray
}

.comment-form textarea{
border: 1px solid grey;
outline: none;
resize: none;
width:100%;
height:5em;
}

.commentstore{
  margin: 5px 0px 5px 0px;
}

.commentList{
  display: flex;
  flex-direction: column-reverse;
  background-color: whitesmoke;
  padding:5px;
  list-style: none;
  margin:0;
}


li.commentBody{
  font-size: 1.1em;
}

.comment-info-store{
display:flex;
flex-direction:row;
}

li.commentAuthor{
  color: grey;
  padding:5px;

}

li.commentPosted{
  margin:0;
  font-size: 50%;
  padding:5px;
  color: grey;
  align-self: center;
  text-align: center;

}


.action{
  display: flex;
  flex-direction: row;
  margin:5px 0px 5px 0px;
  padding:0;
  margin:0;
}

.action button{
  outline:none;
  border:none;
}

.action p{
  margin:5px;;
  padding:5px;;
}



