.article-store{
display:flex;
flex-direction: column;
background-color: whitesmoke;
padding:5px;
border: solid 1px #222222
}


.topic-store{
  text-transform: uppercase;
  text-align: left;
}


.info-topic{
font-size: 50%;  
}

.list-title{
  text-align: left;
  text-transform: capitalize;
  font-weight: bolder;
}


a.list-item{
  font-size: 2em;  
}

.info-store{
  display:flex;
  flex-direction: column;
  margin:0;
}

.info-author{
  padding:5px;
  margin:0;
  text-transform: capitalize;
  font-size: 1.5em;
}

.info-time{
  padding:5px;
  margin:0;
  text-transform: capitalize;
  font-size: 1em;
}


.interaction-store{
  grid-area: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  font-size: 0.5em;
  text-align: justify;
  width:50%;
}

.action-votes{
  padding:5px;
  margin:0;
}


.action-comments{
  padding:5px;
  margin:0px;
}


a{
    text-decoration: none;
    color:#222222
}


